.content_container {
    background-color: #f4ce14;
    overflow: hidden;
}



.hero_container {
    width: 100%;
    height: 20vh;
    background-image: url(/src/images/banner2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hero_content {
    color: #ffffff;
    background-color: #495e57c3;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}



.about_container {
    background-color: #f4ce14;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 2rem 0;
}

.about_content h2 {
    color: #495e57;
    font-family: 'Karla', serif;
    font-size: 64pt;
    padding: 0;
    margin: 0;
}

.about_content p {
    font-size: 18pt;
    padding: 0;
    margin: 0;
}

.about_content_container {
    width: 50%;
    padding: 0 2rem;
}

.about_image_container {
    width: 50%;
    padding: 0 2rem;
}

/* mobile settings */

@media (max-width: 768px) {
    .hero_content {
        max-height: 13vh;
    }

    .hero_content p {
        display: none;
    }

    .about_container {
        flex-direction: column;
    }

    .about_content_container {
        width: 85%;
        padding: 0;
        text-align: center;
    }

    .about_image_container {
        width: 90%;
        padding: 0;
    }

    .about_image_container img {
        max-width: 100%;
        height: auto;
    }
}