.footercontainer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.nav {
  background-color: #333333;
  display: grid;
  grid-template-columns: repeat(4, minmax(185px, 1fr));
  grid-gap: 20px;
  justify-self: space-around;
  color: white;
  max-width: 1280px;
  align-self: center;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.footerimg {
  height: 100px;
  align-self: center;
  justify-self: center;
}

.navlist {
  list-style: none;
  color: white;
  text-decoration: none;
}

.contactlist {
  list-style: none;
}

.sociallist {
  list-style: none;
}

.listtitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
}
