.header {
  height: 5.5rem;
  background-color: #ffffff;
}
.container {
  height: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  overflow: hidden;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  object-fit: contain;
}
.nav li {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav li a {
  color: #333333;
  text-decoration: none;
}
