.special_section_container {
    width: 85%;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1280px;
    justify-content: space-around;
    overflow: hidden;
    text-decoration: none;
}

.special_section_container a {
    text-decoration: none;
    color: inherit;
}

.special_section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_button {
    padding: 15px 30px;
    font-size: 16pt;
    font-weight: 600;
    background-color: #f4ce14;
    color: #333333;
    border-radius: 20px;
    border: none;
    transition: padding 0.2s ease-in-out;
}

.menu_button:hover {
    background-color: #495e57;
    color: #ffffff;
    padding: 18px 33px;
}

