* {
  font-family: 'Markazi Text', 'Karla', serif;
}

label, input, select, textarea, p {
  font-family: 'Karla';
}

a:visited, Link:visited, a:link, Link:link {
  text-decoration: none;
  color: black;
}